*{
    margin: 0px;
    padding: 0px;
}

.container{
    
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.child{
    height: 400px;
    width: 20%;
    background-color: lightgrey;
}

@media (min-width :320px) and (max-width: 480px){

    .child{
        width: 90%;
    }
}

@media (min-width :481px) and (max-width : 786px){
    .child{
        width: 40%;
    }
}

