*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container{
    width: 25%;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 10px;
}

.feild_holder{
    width: 100%;
    height: 40px;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
}

.feild_holder > input{
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 18px;
    text-indent:10px ;
    outline: none;
    position: absolute;
}

button{
    padding:15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(209, 209, 209);
}

.tooltip::before{
    content: '';
    display:block;
    width: 15px;
    height: 15px;
    background-color: #f74545; 
    position: absolute;
    left: -7.5px;
    transform: rotate(45deg);
}

.tooltip{
    width: 60%;
    padding: 15px 10px;
    background-color: #f74545; 
    position: absolute;
    right: -62%;
    color: white;
    font-family: segoe UI;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px grey;
    display: none;
}

